################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Customer.Commerce.XA
/Customer.Commerce.XA.Feature.VSIX/bin/Debug
/Customer.Commerce.XA.Feature.VSIX/obj
/packages
